{% extends "base.html" %}
{% load static %}

{% block title %}Analyse de Canaux{% endblock %}

{% block content %}
<h2 class="title">Channel Synthesizer</h2>
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button class="btn logout-btn" type="submit">Déconnexion</button>
</form>

<form method="post" enctype="multipart/form-data" id="main-form">
    {% csrf_token %}

    <div class="form-grid">
        <div class="form-column">
            <div class="form-card">
                <h4>Étape 1 : Fichiers PDF</h4>
                <div class="tabs">
                    <button type="button" class="tab-button active" data-tab="pdf-upload">Uploader</button>
                    <button type="button" class="tab-button" data-tab="pdf-select">Sélectionner</button>
                </div>

                <div id="pdf-upload" class="tab-content active">
                    <div class="form-field">{{ form.pdf_files }}</div>
                </div>
                <div id="pdf-select" class="tab-content">
                    <div class="scrollable-container">{{ form.existing_pdf_files }}</div>
                </div>
            </div>
        </div>

        <div class="form-column">
            <div class="form-card">
                <h4>Étape 2 : Fichier Excel</h4>
                <div class="form-field">{{ form.excel_file }}</div>
                <div class="form-field">{{ form.existing_excel_file }}</div>
            </div>

            <div class="form-card">
                <h4>Étape 3 : Options</h4>
                <div class="checkbox-field">
                    {{ form.include_base_offers }}
                    <label for="{{ form.include_base_offers.id_for_label }}">Activer les offres de l'opérateur
                        Base</label>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 20px;">
        <button class="btn" type="submit">Lancer l'Analyse</button>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Logique pour les onglets
        const tabButtons = document.querySelectorAll('.tab-button');
        tabButtons.forEach(button => {
            button.addEventListener('click', () => {
                const tabContainer = button.closest('.form-card');
                const tabName = button.getAttribute('data-tab');

                tabContainer.querySelectorAll('.tab-button').forEach(btn => btn.classList.remove('active'));
                button.classList.add('active');

                tabContainer.querySelectorAll('.tab-content').forEach(content => {
                    if (content.id === tabName) {
                        content.classList.add('active');
                    } else {
                        content.classList.remove('active');
                    }
                });
            });
        });
    });
</script>
{% endblock %}